@model SBear.Web.ViewModels.HomeViewModel.HomeSideBarViewModel
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">分类</h3>
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var item in Model.ArticleType)
            {
                <li><a href="@Url.Action("Index", "Category", new { id = item.BlogArticleType.Id })">@item.BlogArticleType.TypeName (@item.Count)</a></li>
            }
        </ul>
    </div>
</div>
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">阅读排行榜</h3>
    </div>
    <div class="panel-body">
        <ul>
            @for (int i = 0; i < Model.HotArticle.Count; i++)
            {
                <li><a href="@Url.Action("Index", "Article", new { id = Model.HotArticle[i].Id })">@( i + 1 ).@Model.HotArticle[i].Title (@Model.HotArticle[i].Views)</a> </li>
            }
        </ul>
    </div>
</div>
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
        <h3 class="panel-title">关于博客</h3>
    </div>
    <div class="panel-body">
        GitHub：
        <a href="https://github.com/xiongxy/SBearBlog" target="_blank">
            SBearBlog
        </a><br />
        访客记录：@Model.VisitorLogCount
    </div>
</div>