@model SBear.Web.ViewModels.HomeViewModel.HomeViewModel
@using System.Diagnostics
@using SBear.Web.ViewComponents.Home;
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Index.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-9">
        @await Component.InvokeAsync("HomeCard", new CardViewModel { CardAciotnType = Model.CardAciotnType, ArticleIdentityId = 0, SearchCount = Model.BlogArticles.Count })
        <div class="topic-Main">
            @foreach (var item in Model.BlogArticles)
            {
                <div class="topicItem">
                    <div class="topicItem-title">
                        <h4><a asp-controller="Article" asp-action="@item.Id">@item.Title</a></h4>
                    </div>
                    <div class="topicItem-authorInfo">
                        <h4>@item.CreateBy</h4>
                    </div>
                    <div class="topicItem-contentItem">
                        @Html.Raw(item.HtmlContent)
                    </div>
                    <div class="topicItem-action">
                        <h6>@item.CreateDate 发表</h6>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("HomeSideBar", Model.HomeSideBarViewModel)
    </div>
</div>